[data-cellid="grid_footcell_field"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field1"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field1"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field2"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field2"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field3"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field3"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field4"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field4"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field5"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field5"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field6"][data-page="global_ejecucion_actividades_spi_list"][data-cellid="grid_footcell_field6"][data-page="global_ejecucion_actividades_spi_list"] {
  white-space: nowrap;
}


