[data-cellid="grid_footcell_field"][data-page="global_operacion_masterlist"][data-cellid="grid_footcell_field"][data-page="global_operacion_masterlist"][data-cellid="grid_footcell_field"][data-page="global_operacion_masterlist"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="global_operacion_masterlist"][data-cellid="grid_footcell_field1"][data-page="global_operacion_masterlist"][data-cellid="grid_footcell_field1"][data-page="global_operacion_masterlist"] {
  white-space: nowrap;
}


