[data-cellid="grid_footcell_field"][data-page="global_operacion_masterprint"][data-cellid="grid_footcell_field"][data-page="global_operacion_masterprint"][data-cellid="grid_footcell_field"][data-page="global_operacion_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="global_operacion_masterprint"][data-cellid="grid_footcell_field1"][data-page="global_operacion_masterprint"][data-cellid="grid_footcell_field1"][data-page="global_operacion_masterprint"] {
  white-space: nowrap;
}


