[data-cellid="grid_footcell_field"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field1"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field1"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field2"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field2"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field3"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field3"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field4"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field4"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field4"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field5"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field5"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field5"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field6"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field6"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field6"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field7"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field7"][data-page="paa_master_modifica_adm_masterprint"][data-cellid="grid_footcell_field7"][data-page="paa_master_modifica_adm_masterprint"] {
  white-space: nowrap;
}


