[data-cellid="footer_c1"][data-page="paa_master_pscdp_nopaa_export"][data-cellid="footer_c1"][data-page="paa_master_pscdp_nopaa_export"][data-cellid="footer_c1"][data-page="paa_master_pscdp_nopaa_export"] {
  width: 33.33333333%;
}
[data-cellid="footer_c2"][data-page="paa_master_pscdp_nopaa_export"][data-cellid="footer_c2"][data-page="paa_master_pscdp_nopaa_export"][data-cellid="footer_c2"][data-page="paa_master_pscdp_nopaa_export"] {
  width: 66.66666667%;
}


