[data-cellid="grid_footcell_field"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field"][data-page="q_group_rec_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field1"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field1"][data-page="q_group_rec_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field2"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field2"][data-page="q_group_rec_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field3"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field3"][data-page="q_group_rec_list"][data-cellid="grid_footcell_field3"][data-page="q_group_rec_list"] {
  white-space: nowrap;
}


