[data-cellid="grid_footcell_field"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field"][data-page="rep_prg001_catalogopresupuestal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field1"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field1"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field1"][data-page="rep_prg001_catalogopresupuestal_list"] {
  white-space: nowrap;
}
[data-cellid="grid_footcell_field2"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field2"][data-page="rep_prg001_catalogopresupuestal_list"][data-cellid="grid_footcell_field2"][data-page="rep_prg001_catalogopresupuestal_list"] {
  white-space: nowrap;
}


