<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-search" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="search_header" data-itemid="search_header" {$item_search_header} data-pageid="{$pageid}" >{$pagetitlelabel global_ejecucion search}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="1"
		
		data-v-width="6"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
				data-fullwidth
		
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="6"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN id_transac_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_id_transac}  r-horizontal-field form-horizontal" 
	
		data-fieldname="id_transac" 
	
	data-signal-error-for="id_transac{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field" {$item_integrated_search_field} data-pageid="{$pageid}" data-field="id_transac" >


	<label class="r-search-label control-label" for="{$labelfor_id_transac}">
		{$label global_ejecucion id_transac }	</label>
	<div class="r-search-option">
		{$searchtype_id_transac}
	</div>
	<div class="r-search-field">
		{$id_transac_editcontrol}	</div>
	<div class="r-search-field">
		{$id_transac_editcontrol1}
	</div>
	
</div>

{END id_transac_fieldblock}
											
{BEGIN VIGENCIA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_VIGENCIA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="VIGENCIA" 
	
	data-signal-error-for="VIGENCIA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field1" {$item_integrated_search_field1} data-pageid="{$pageid}" data-field="VIGENCIA" >


	<label class="r-search-label control-label" for="{$labelfor_VIGENCIA}">
		{$label global_ejecucion VIGENCIA }	</label>
	<div class="r-search-option">
		{$searchtype_VIGENCIA}
	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol}	</div>
	<div class="r-search-field">
		{$VIGENCIA_editcontrol1}
	</div>
	
</div>

{END VIGENCIA_fieldblock}
											
{BEGIN CODIGO_BPIN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CODIGO_BPIN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CODIGO_BPIN" 
	
	data-signal-error-for="CODIGO_BPIN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field2" {$item_integrated_search_field2} data-pageid="{$pageid}" data-field="CODIGO_BPIN" >


	<label class="r-search-label control-label" for="{$labelfor_CODIGO_BPIN}">
		{$label global_ejecucion CODIGO_BPIN }	</label>
	<div class="r-search-option">
		{$searchtype_CODIGO_BPIN}
	</div>
	<div class="r-search-field">
		{$CODIGO_BPIN_editcontrol}	</div>
	<div class="r-search-field">
		{$CODIGO_BPIN_editcontrol1}
	</div>
	
</div>

{END CODIGO_BPIN_fieldblock}
											
{BEGIN FICHA_BPIN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FICHA_BPIN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FICHA_BPIN" 
	
	data-signal-error-for="FICHA_BPIN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field3" {$item_integrated_search_field3} data-pageid="{$pageid}" data-field="FICHA_BPIN" >


	<label class="r-search-label control-label" for="{$labelfor_FICHA_BPIN}">
		{$label global_ejecucion FICHA_BPIN }	</label>
	<div class="r-search-option">
		{$searchtype_FICHA_BPIN}
	</div>
	<div class="r-search-field">
		{$FICHA_BPIN_editcontrol}	</div>
	<div class="r-search-field">
		{$FICHA_BPIN_editcontrol1}
	</div>
	
</div>

{END FICHA_BPIN_fieldblock}
											
{BEGIN UEJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="UEJ" 
	
	data-signal-error-for="UEJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field4" {$item_integrated_search_field4} data-pageid="{$pageid}" data-field="UEJ" >


	<label class="r-search-label control-label" for="{$labelfor_UEJ}">
		{$label global_ejecucion UEJ }	</label>
	<div class="r-search-option">
		{$searchtype_UEJ}
	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol}	</div>
	<div class="r-search-field">
		{$UEJ_editcontrol1}
	</div>
	
</div>

{END UEJ_fieldblock}
											
{BEGIN UEJ_S_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ_S}  r-horizontal-field form-horizontal" 
	
		data-fieldname="UEJ_S" 
	
	data-signal-error-for="UEJ_S{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field5" {$item_integrated_search_field5} data-pageid="{$pageid}" data-field="UEJ_S" >


	<label class="r-search-label control-label" for="{$labelfor_UEJ_S}">
		{$label global_ejecucion UEJ_S }	</label>
	<div class="r-search-option">
		{$searchtype_UEJ_S}
	</div>
	<div class="r-search-field">
		{$UEJ_S_editcontrol}	</div>
	<div class="r-search-field">
		{$UEJ_S_editcontrol1}
	</div>
	
</div>

{END UEJ_S_fieldblock}
											
{BEGIN UEJ_MIN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_UEJ_MIN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="UEJ_MIN" 
	
	data-signal-error-for="UEJ_MIN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field6" {$item_integrated_search_field6} data-pageid="{$pageid}" data-field="UEJ_MIN" >


	<label class="r-search-label control-label" for="{$labelfor_UEJ_MIN}">
		{$label global_ejecucion UEJ_MIN }	</label>
	<div class="r-search-option">
		{$searchtype_UEJ_MIN}
	</div>
	<div class="r-search-field">
		{$UEJ_MIN_editcontrol}	</div>
	<div class="r-search-field">
		{$UEJ_MIN_editcontrol1}
	</div>
	
</div>

{END UEJ_MIN_fieldblock}
											
{BEGIN NOMBRE_UEJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_NOMBRE_UEJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="NOMBRE UEJ" 
	
	data-signal-error-for="NOMBRE_UEJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field7" {$item_integrated_search_field7} data-pageid="{$pageid}" data-field="NOMBRE_UEJ" >


	<label class="r-search-label control-label" for="{$labelfor_NOMBRE_UEJ}">
		{$label global_ejecucion NOMBRE_UEJ }	</label>
	<div class="r-search-option">
		{$searchtype_NOMBRE_UEJ}
	</div>
	<div class="r-search-field">
		{$NOMBRE_UEJ_editcontrol}	</div>
	<div class="r-search-field">
		{$NOMBRE_UEJ_editcontrol1}
	</div>
	
</div>

{END NOMBRE_UEJ_fieldblock}
											
{BEGIN RUBRO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RUBRO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RUBRO" 
	
	data-signal-error-for="RUBRO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field8" {$item_integrated_search_field8} data-pageid="{$pageid}" data-field="RUBRO" >


	<label class="r-search-label control-label" for="{$labelfor_RUBRO}">
		{$label global_ejecucion RUBRO }	</label>
	<div class="r-search-option">
		{$searchtype_RUBRO}
	</div>
	<div class="r-search-field">
		{$RUBRO_editcontrol}	</div>
	<div class="r-search-field">
		{$RUBRO_editcontrol1}
	</div>
	
</div>

{END RUBRO_fieldblock}
											
{BEGIN TIPO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_TIPO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="TIPO" 
	
	data-signal-error-for="TIPO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field9" {$item_integrated_search_field9} data-pageid="{$pageid}" data-field="TIPO" >


	<label class="r-search-label control-label" for="{$labelfor_TIPO}">
		{$label global_ejecucion TIPO }	</label>
	<div class="r-search-option">
		{$searchtype_TIPO}
	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol}	</div>
	<div class="r-search-field">
		{$TIPO_editcontrol1}
	</div>
	
</div>

{END TIPO_fieldblock}
											
{BEGIN CTA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CTA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CTA" 
	
	data-signal-error-for="CTA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field10" {$item_integrated_search_field10} data-pageid="{$pageid}" data-field="CTA" >


	<label class="r-search-label control-label" for="{$labelfor_CTA}">
		{$label global_ejecucion CTA }	</label>
	<div class="r-search-option">
		{$searchtype_CTA}
	</div>
	<div class="r-search-field">
		{$CTA_editcontrol}	</div>
	<div class="r-search-field">
		{$CTA_editcontrol1}
	</div>
	
</div>

{END CTA_fieldblock}
											
{BEGIN SUBCTA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBCTA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SUBCTA" 
	
	data-signal-error-for="SUBCTA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field11" {$item_integrated_search_field11} data-pageid="{$pageid}" data-field="SUBCTA" >


	<label class="r-search-label control-label" for="{$labelfor_SUBCTA}">
		{$label global_ejecucion SUBCTA }	</label>
	<div class="r-search-option">
		{$searchtype_SUBCTA}
	</div>
	<div class="r-search-field">
		{$SUBCTA_editcontrol}	</div>
	<div class="r-search-field">
		{$SUBCTA_editcontrol1}
	</div>
	
</div>

{END SUBCTA_fieldblock}
											
{BEGIN OBJ_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBJ}  r-horizontal-field form-horizontal" 
	
		data-fieldname="OBJ" 
	
	data-signal-error-for="OBJ{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field12" {$item_integrated_search_field12} data-pageid="{$pageid}" data-field="OBJ" >


	<label class="r-search-label control-label" for="{$labelfor_OBJ}">
		{$label global_ejecucion OBJ }	</label>
	<div class="r-search-option">
		{$searchtype_OBJ}
	</div>
	<div class="r-search-field">
		{$OBJ_editcontrol}	</div>
	<div class="r-search-field">
		{$OBJ_editcontrol1}
	</div>
	
</div>

{END OBJ_fieldblock}
											
{BEGIN ORD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ORD}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ORD" 
	
	data-signal-error-for="ORD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field13" {$item_integrated_search_field13} data-pageid="{$pageid}" data-field="ORD" >


	<label class="r-search-label control-label" for="{$labelfor_ORD}">
		{$label global_ejecucion ORD }	</label>
	<div class="r-search-option">
		{$searchtype_ORD}
	</div>
	<div class="r-search-field">
		{$ORD_editcontrol}	</div>
	<div class="r-search-field">
		{$ORD_editcontrol1}
	</div>
	
</div>

{END ORD_fieldblock}
											
{BEGIN SORORD_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SORORD}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SORORD" 
	
	data-signal-error-for="SORORD{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field14" {$item_integrated_search_field14} data-pageid="{$pageid}" data-field="SORORD" >


	<label class="r-search-label control-label" for="{$labelfor_SORORD}">
		{$label global_ejecucion SORORD }	</label>
	<div class="r-search-option">
		{$searchtype_SORORD}
	</div>
	<div class="r-search-field">
		{$SORORD_editcontrol}	</div>
	<div class="r-search-field">
		{$SORORD_editcontrol1}
	</div>
	
</div>

{END SORORD_fieldblock}
											
{BEGIN ITEM_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ITEM}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ITEM" 
	
	data-signal-error-for="ITEM{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field15" {$item_integrated_search_field15} data-pageid="{$pageid}" data-field="ITEM" >


	<label class="r-search-label control-label" for="{$labelfor_ITEM}">
		{$label global_ejecucion ITEM }	</label>
	<div class="r-search-option">
		{$searchtype_ITEM}
	</div>
	<div class="r-search-field">
		{$ITEM_editcontrol}	</div>
	<div class="r-search-field">
		{$ITEM_editcontrol1}
	</div>
	
</div>

{END ITEM_fieldblock}
											
{BEGIN SUBITEM_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBITEM}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SUBITEM" 
	
	data-signal-error-for="SUBITEM{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field16" {$item_integrated_search_field16} data-pageid="{$pageid}" data-field="SUBITEM" >


	<label class="r-search-label control-label" for="{$labelfor_SUBITEM}">
		{$label global_ejecucion SUBITEM }	</label>
	<div class="r-search-option">
		{$searchtype_SUBITEM}
	</div>
	<div class="r-search-field">
		{$SUBITEM_editcontrol}	</div>
	<div class="r-search-field">
		{$SUBITEM_editcontrol1}
	</div>
	
</div>

{END SUBITEM_fieldblock}
											
{BEGIN SUBITEM_2_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SUBITEM_2}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SUBITEM 2" 
	
	data-signal-error-for="SUBITEM_2{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field17" {$item_integrated_search_field17} data-pageid="{$pageid}" data-field="SUBITEM_2" >


	<label class="r-search-label control-label" for="{$labelfor_SUBITEM_2}">
		{$label global_ejecucion SUBITEM_2 }	</label>
	<div class="r-search-option">
		{$searchtype_SUBITEM_2}
	</div>
	<div class="r-search-field">
		{$SUBITEM_2_editcontrol}	</div>
	<div class="r-search-field">
		{$SUBITEM_2_editcontrol1}
	</div>
	
</div>

{END SUBITEM_2_fieldblock}
											
{BEGIN FUENTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FUENTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FUENTE" 
	
	data-signal-error-for="FUENTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field18" {$item_integrated_search_field18} data-pageid="{$pageid}" data-field="FUENTE" >


	<label class="r-search-label control-label" for="{$labelfor_FUENTE}">
		{$label global_ejecucion FUENTE }	</label>
	<div class="r-search-option">
		{$searchtype_FUENTE}
	</div>
	<div class="r-search-field">
		{$FUENTE_editcontrol}	</div>
	<div class="r-search-field">
		{$FUENTE_editcontrol1}
	</div>
	
</div>

{END FUENTE_fieldblock}
											
{BEGIN REC_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_REC}  r-horizontal-field form-horizontal" 
	
		data-fieldname="REC" 
	
	data-signal-error-for="REC{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field19" {$item_integrated_search_field19} data-pageid="{$pageid}" data-field="REC" >


	<label class="r-search-label control-label" for="{$labelfor_REC}">
		{$label global_ejecucion REC }	</label>
	<div class="r-search-option">
		{$searchtype_REC}
	</div>
	<div class="r-search-field">
		{$REC_editcontrol}	</div>
	<div class="r-search-field">
		{$REC_editcontrol1}
	</div>
	
</div>

{END REC_fieldblock}
											
{BEGIN SIT_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_SIT}  r-horizontal-field form-horizontal" 
	
		data-fieldname="SIT" 
	
	data-signal-error-for="SIT{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field20" {$item_integrated_search_field20} data-pageid="{$pageid}" data-field="SIT" >


	<label class="r-search-label control-label" for="{$labelfor_SIT}">
		{$label global_ejecucion SIT }	</label>
	<div class="r-search-option">
		{$searchtype_SIT}
	</div>
	<div class="r-search-field">
		{$SIT_editcontrol}	</div>
	<div class="r-search-field">
		{$SIT_editcontrol1}
	</div>
	
</div>

{END SIT_fieldblock}
											
{BEGIN DESCRIPCION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DESCRIPCION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DESCRIPCION" 
	
	data-signal-error-for="DESCRIPCION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field21" {$item_integrated_search_field21} data-pageid="{$pageid}" data-field="DESCRIPCION" >


	<label class="r-search-label control-label" for="{$labelfor_DESCRIPCION}">
		{$label global_ejecucion DESCRIPCION }	</label>
	<div class="r-search-option">
		{$searchtype_DESCRIPCION}
	</div>
	<div class="r-search-field">
		{$DESCRIPCION_editcontrol}	</div>
	<div class="r-search-field">
		{$DESCRIPCION_editcontrol1}
	</div>
	
</div>

{END DESCRIPCION_fieldblock}
											
{BEGIN APR__INICIAL_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR__INICIAL}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR. INICIAL" 
	
	data-signal-error-for="APR__INICIAL{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field22" {$item_integrated_search_field22} data-pageid="{$pageid}" data-field="APR__INICIAL" >


	<label class="r-search-label control-label" for="{$labelfor_APR__INICIAL}">
		{$label global_ejecucion APR__INICIAL }	</label>
	<div class="r-search-option">
		{$searchtype_APR__INICIAL}
	</div>
	<div class="r-search-field">
		{$APR__INICIAL_editcontrol}	</div>
	<div class="r-search-field">
		{$APR__INICIAL_editcontrol1}
	</div>
	
</div>

{END APR__INICIAL_fieldblock}
											
{BEGIN APR__ADICIONADA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR__ADICIONADA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR. ADICIONADA" 
	
	data-signal-error-for="APR__ADICIONADA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field23" {$item_integrated_search_field23} data-pageid="{$pageid}" data-field="APR__ADICIONADA" >


	<label class="r-search-label control-label" for="{$labelfor_APR__ADICIONADA}">
		{$label global_ejecucion APR__ADICIONADA }	</label>
	<div class="r-search-option">
		{$searchtype_APR__ADICIONADA}
	</div>
	<div class="r-search-field">
		{$APR__ADICIONADA_editcontrol}	</div>
	<div class="r-search-field">
		{$APR__ADICIONADA_editcontrol1}
	</div>
	
</div>

{END APR__ADICIONADA_fieldblock}
											
{BEGIN APR__REDUCIDA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR__REDUCIDA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR. REDUCIDA" 
	
	data-signal-error-for="APR__REDUCIDA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field24" {$item_integrated_search_field24} data-pageid="{$pageid}" data-field="APR__REDUCIDA" >


	<label class="r-search-label control-label" for="{$labelfor_APR__REDUCIDA}">
		{$label global_ejecucion APR__REDUCIDA }	</label>
	<div class="r-search-option">
		{$searchtype_APR__REDUCIDA}
	</div>
	<div class="r-search-field">
		{$APR__REDUCIDA_editcontrol}	</div>
	<div class="r-search-field">
		{$APR__REDUCIDA_editcontrol1}
	</div>
	
</div>

{END APR__REDUCIDA_fieldblock}
											
{BEGIN APR__VIGENTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR__VIGENTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR. VIGENTE" 
	
	data-signal-error-for="APR__VIGENTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field25" {$item_integrated_search_field25} data-pageid="{$pageid}" data-field="APR__VIGENTE" >


	<label class="r-search-label control-label" for="{$labelfor_APR__VIGENTE}">
		{$label global_ejecucion APR__VIGENTE }	</label>
	<div class="r-search-option">
		{$searchtype_APR__VIGENTE}
	</div>
	<div class="r-search-field">
		{$APR__VIGENTE_editcontrol}	</div>
	<div class="r-search-field">
		{$APR__VIGENTE_editcontrol1}
	</div>
	
</div>

{END APR__VIGENTE_fieldblock}
											
{BEGIN APR_BLOQUEADA_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR_BLOQUEADA}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR BLOQUEADA" 
	
	data-signal-error-for="APR_BLOQUEADA{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field26" {$item_integrated_search_field26} data-pageid="{$pageid}" data-field="APR_BLOQUEADA" >


	<label class="r-search-label control-label" for="{$labelfor_APR_BLOQUEADA}">
		{$label global_ejecucion APR_BLOQUEADA }	</label>
	<div class="r-search-option">
		{$searchtype_APR_BLOQUEADA}
	</div>
	<div class="r-search-field">
		{$APR_BLOQUEADA_editcontrol}	</div>
	<div class="r-search-field">
		{$APR_BLOQUEADA_editcontrol1}
	</div>
	
</div>

{END APR_BLOQUEADA_fieldblock}
											
{BEGIN CDP_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_CDP}  r-horizontal-field form-horizontal" 
	
		data-fieldname="CDP" 
	
	data-signal-error-for="CDP{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field27" {$item_integrated_search_field27} data-pageid="{$pageid}" data-field="CDP" >


	<label class="r-search-label control-label" for="{$labelfor_CDP}">
		{$label global_ejecucion CDP }	</label>
	<div class="r-search-option">
		{$searchtype_CDP}
	</div>
	<div class="r-search-field">
		{$CDP_editcontrol}	</div>
	<div class="r-search-field">
		{$CDP_editcontrol1}
	</div>
	
</div>

{END CDP_fieldblock}
											
{BEGIN APR__DISPONIBLE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_APR__DISPONIBLE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="APR. DISPONIBLE" 
	
	data-signal-error-for="APR__DISPONIBLE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field28" {$item_integrated_search_field28} data-pageid="{$pageid}" data-field="APR__DISPONIBLE" >


	<label class="r-search-label control-label" for="{$labelfor_APR__DISPONIBLE}">
		{$label global_ejecucion APR__DISPONIBLE }	</label>
	<div class="r-search-option">
		{$searchtype_APR__DISPONIBLE}
	</div>
	<div class="r-search-field">
		{$APR__DISPONIBLE_editcontrol}	</div>
	<div class="r-search-field">
		{$APR__DISPONIBLE_editcontrol1}
	</div>
	
</div>

{END APR__DISPONIBLE_fieldblock}
											
{BEGIN COMPROMISO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_COMPROMISO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="COMPROMISO" 
	
	data-signal-error-for="COMPROMISO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field29" {$item_integrated_search_field29} data-pageid="{$pageid}" data-field="COMPROMISO" >


	<label class="r-search-label control-label" for="{$labelfor_COMPROMISO}">
		{$label global_ejecucion COMPROMISO }	</label>
	<div class="r-search-option">
		{$searchtype_COMPROMISO}
	</div>
	<div class="r-search-field">
		{$COMPROMISO_editcontrol}	</div>
	<div class="r-search-field">
		{$COMPROMISO_editcontrol1}
	</div>
	
</div>

{END COMPROMISO_fieldblock}
											
{BEGIN OBLIGACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_OBLIGACION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="OBLIGACION" 
	
	data-signal-error-for="OBLIGACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field30" {$item_integrated_search_field30} data-pageid="{$pageid}" data-field="OBLIGACION" >


	<label class="r-search-label control-label" for="{$labelfor_OBLIGACION}">
		{$label global_ejecucion OBLIGACION }	</label>
	<div class="r-search-option">
		{$searchtype_OBLIGACION}
	</div>
	<div class="r-search-field">
		{$OBLIGACION_editcontrol}	</div>
	<div class="r-search-field">
		{$OBLIGACION_editcontrol1}
	</div>
	
</div>

{END OBLIGACION_fieldblock}
											
{BEGIN ORDEN_PAGO_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_ORDEN_PAGO}  r-horizontal-field form-horizontal" 
	
		data-fieldname="ORDEN PAGO" 
	
	data-signal-error-for="ORDEN_PAGO{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field31" {$item_integrated_search_field31} data-pageid="{$pageid}" data-field="ORDEN_PAGO" >


	<label class="r-search-label control-label" for="{$labelfor_ORDEN_PAGO}">
		{$label global_ejecucion ORDEN_PAGO }	</label>
	<div class="r-search-option">
		{$searchtype_ORDEN_PAGO}
	</div>
	<div class="r-search-field">
		{$ORDEN_PAGO_editcontrol}	</div>
	<div class="r-search-field">
		{$ORDEN_PAGO_editcontrol1}
	</div>
	
</div>

{END ORDEN_PAGO_fieldblock}
											
{BEGIN PAGOS_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_PAGOS}  r-horizontal-field form-horizontal" 
	
		data-fieldname="PAGOS" 
	
	data-signal-error-for="PAGOS{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field32" {$item_integrated_search_field32} data-pageid="{$pageid}" data-field="PAGOS" >


	<label class="r-search-label control-label" for="{$labelfor_PAGOS}">
		{$label global_ejecucion PAGOS }	</label>
	<div class="r-search-option">
		{$searchtype_PAGOS}
	</div>
	<div class="r-search-field">
		{$PAGOS_editcontrol}	</div>
	<div class="r-search-field">
		{$PAGOS_editcontrol1}
	</div>
	
</div>

{END PAGOS_fieldblock}
											
{BEGIN FECHA_CORTE_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_CORTE}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FECHA_CORTE" 
	
	data-signal-error-for="FECHA_CORTE{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field33" {$item_integrated_search_field33} data-pageid="{$pageid}" data-field="FECHA_CORTE" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_CORTE}">
		{$label global_ejecucion FECHA_CORTE }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_CORTE}
	</div>
	<div class="r-search-field">
		{$FECHA_CORTE_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_CORTE_editcontrol1}
	</div>
	
</div>

{END FECHA_CORTE_fieldblock}
											
{BEGIN FECHA_ACTUALIZACION_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_FECHA_ACTUALIZACION}  r-horizontal-field form-horizontal" 
	
		data-fieldname="FECHA_ACTUALIZACION" 
	
	data-signal-error-for="FECHA_ACTUALIZACION{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field34" {$item_integrated_search_field34} data-pageid="{$pageid}" data-field="FECHA_ACTUALIZACION" >


	<label class="r-search-label control-label" for="{$labelfor_FECHA_ACTUALIZACION}">
		{$label global_ejecucion FECHA_ACTUALIZACION }	</label>
	<div class="r-search-option">
		{$searchtype_FECHA_ACTUALIZACION}
	</div>
	<div class="r-search-field">
		{$FECHA_ACTUALIZACION_editcontrol}	</div>
	<div class="r-search-field">
		{$FECHA_ACTUALIZACION_editcontrol1}
	</div>
	
</div>

{END FECHA_ACTUALIZACION_fieldblock}
											
{BEGIN DEPENDENCIA_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DEPENDENCIA_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DEPENDENCIA_ID" 
	
	data-signal-error-for="DEPENDENCIA_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field35" {$item_integrated_search_field35} data-pageid="{$pageid}" data-field="DEPENDENCIA_ID" >


	<label class="r-search-label control-label" for="{$labelfor_DEPENDENCIA_ID}">
		{$label global_ejecucion DEPENDENCIA_ID }	</label>
	<div class="r-search-option">
		{$searchtype_DEPENDENCIA_ID}
	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_ID_editcontrol1}
	</div>
	
</div>

{END DEPENDENCIA_ID_fieldblock}
											
{BEGIN RESPONSABLE_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_RESPONSABLE_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="RESPONSABLE_ID" 
	
	data-signal-error-for="RESPONSABLE_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field36" {$item_integrated_search_field36} data-pageid="{$pageid}" data-field="RESPONSABLE_ID" >


	<label class="r-search-label control-label" for="{$labelfor_RESPONSABLE_ID}">
		{$label global_ejecucion RESPONSABLE_ID }	</label>
	<div class="r-search-option">
		{$searchtype_RESPONSABLE_ID}
	</div>
	<div class="r-search-field">
		{$RESPONSABLE_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$RESPONSABLE_ID_editcontrol1}
	</div>
	
</div>

{END RESPONSABLE_ID_fieldblock}
											
{BEGIN DEPENDENCIA_SUP_ID_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_DEPENDENCIA_SUP_ID}  r-horizontal-field form-horizontal" 
	
		data-fieldname="DEPENDENCIA_SUP_ID" 
	
	data-signal-error-for="DEPENDENCIA_SUP_ID{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field37" {$item_integrated_search_field37} data-pageid="{$pageid}" data-field="DEPENDENCIA_SUP_ID" >


	<label class="r-search-label control-label" for="{$labelfor_DEPENDENCIA_SUP_ID}">
		{$label global_ejecucion DEPENDENCIA_SUP_ID }	</label>
	<div class="r-search-option">
		{$searchtype_DEPENDENCIA_SUP_ID}
	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_SUP_ID_editcontrol}	</div>
	<div class="r-search-field">
		{$DEPENDENCIA_SUP_ID_editcontrol1}
	</div>
	
</div>

{END DEPENDENCIA_SUP_ID_fieldblock}
											
{BEGIN USO_SN_fieldblock}

<div class="r-integrated-field form-group clearfix {$fielddispclass_USO_SN}  r-horizontal-field form-horizontal" 
	
		data-fieldname="USO_SN" 
	
	data-signal-error-for="USO_SN{$id}" 
	data-itemtype="integrated_search_field" data-itemid="integrated_search_field38" {$item_integrated_search_field38} data-pageid="{$pageid}" data-field="USO_SN" >


	<label class="r-search-label control-label" for="{$labelfor_USO_SN}">
		{$label global_ejecucion USO_SN }	</label>
	<div class="r-search-option">
		{$searchtype_USO_SN}
	</div>
	<div class="r-search-field">
		{$USO_SN_editcontrol}	</div>
	<div class="r-search-field">
		{$USO_SN_editcontrol1}
	</div>
	
</div>

{END USO_SN_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="6"
	data-v-margin="1"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="search_search" data-itemid="search_search" {$item_search_search} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$searchbutton_attrs} >
							Buscar			</a>
</span>
	 
		<span data-itemtype="search_reset" data-itemid="search_reset" {$item_search_reset} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$resetbutton_attrs} >
							Reiniciar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="search_back_list" data-itemid="search_back_list" {$item_search_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" {$backbutton_attrs} >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="search_cancel" data-itemid="search_cancel" {$item_search_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
