<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-list" {$bodyattrs}>
	{BEGIN body}
		<style>
		{$containerCss}
		</style>
		<div class="r-vbar-page">
			<div data-width="" data-fixed class="r-left clearfix {$leftbar_class}" >
								<div data-location="left" id="form_left_{$pageid}" data-makeup="leftbar" {$form_left} data-pageid="{$pageid}">
{BEGIN left_block}
 
     
         

			<div data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell class="clearfix " data-itemid="logo1" {$item_logo1}>
				{BEGIN logo_block}
	<A data-itemtype="logo" data-itemid="logo1" {$item_logo1} data-pageid="{$pageid}" class="navbar-brand" href="{$home_link}" data-pageid="{$pageid}" {$logo_hiddenattr}>
		{$logo}
	</A>
{END logo_block}
				<button data-pageid="1" type="button" class="navbar-toggle collapsed" data-runner-toggle="collapse" data-target="[data-mobile-controlled]">	
					<span class="sr-only">Toggle navigation</span>	
					<span class="icon-bar"></span>					
				</button>				
			</div>
		
 

			<div class="clearfix " data-cellId="left_c0" data-pageid="{$pageid}" data-logo-cell data-itemid="expand_button" {$item_expand_button} data-topcell-item-type="expand_button" >
				<span data-itemtype="expand_button" data-itemid="expand_button" {$item_expand_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Expand" class="btn btn-link   
	" href="#" >
					<span class="glyphicon glyphicon-triangle-right"></span>
										</a>
</span>
			</div>
		
     
     
         

			<div data-cellId="left_c1" data-pageid="{$pageid}" class="clearfix  r-ori-vert " data-itemtype="menu" data-itemid="menu" {$item_menu} data-pageid="{$pageid}">
				{$menu main}			</div>
		
 

			<div class="clearfix  r-ori-vert" data-cellId="left_c1" data-pageid="{$pageid}" data-itemid="search_panel" {$item_search_panel} data-topcell-item-type="search_panel" >
				<!-- Begin Search panel content -->
<div class="searchOptions panel panel-primary searchPanelContainer " {$srchOpt_attrs} data-itemtype="search_panel" data-itemid="search_panel" {$item_search_panel} data-pageid="{$pageid}" >

	<div class="panel-heading">
		<div class="btn-group" id="addSearchFieldButton{$id}">
			<button id="showHideControlChooseMenu{$id}" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Búsqueda			<span class="caret"></span>
			</button>
		</div>


		<div class="btn-group searchpanel-options" id="searchPanelOptions{$id}">
			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span class="glyphicon glyphicon glyphicon-option-vertical"></span>
			</button>
			<ul class="dropdown-menu dropdown-left">
				<li id="showHideSearchType{$id}" {$showHideCtrlsOpt_attrs}><a>Mostrar opciones</a></li>
				<li role="separator" class="divider"></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAll" {$all_checkbox}><label for="radioAll"><span class="glyphicon">&nbsp;</span>todas las condiciones</label></a></li>
				<li class="srchCritTop" style="display: none;"><a><input type="radio" name="srchType{$id}" id="radioAny" {$any_checkbox}><label for="radioAny"><span class="glyphicon">&nbsp;</span>cualquier condición</label></a></li>
				<li role="separator" class="divider"></li>
				<li><a class="close-button"><span class="glyphicon glyphicon-remove">&nbsp;</span>esconder</a></li>
			</ul>
		</div>


		</div>
	<div class="panel-body controlsBlock" {$bottomSearchButt_attrs} >


		
		{BEGIN searchCtrlBlock}
		<div class="srchPanelRow form-group" {$filterRow_attrs}>
			<label>{$fLabel}</label>	{$delCtrlButt}
				<span class="rnr-searchtype">{$searchtype}</span>
				<span class="rnr-searchcontrol">{$searchcontrol}</span>
				<span class="rnr-searchcontrol">{$searchcontrol1}</span>
		</div>
		{END searchCtrlBlock}
																		{BEGIN searchCtrlBlock_Id}


		<div class="form-group srchPanelRow {$filterRow_class_Id}" {$filterRow_attrs_Id}>
			<label>{$label global_ejecucion_actividades_spi Id }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Id}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Id}</span>
						</div>
		{END searchCtrlBlock_Id}
																{BEGIN searchCtrlBlock_DEPENDENCIA_SUP_ID}


		<div class="form-group srchPanelRow {$filterRow_class_DEPENDENCIA_SUP_ID}" {$filterRow_attrs_DEPENDENCIA_SUP_ID}>
			<label>{$label global_ejecucion_actividades_spi DEPENDENCIA_SUP_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DEPENDENCIA_SUP_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DEPENDENCIA_SUP_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DEPENDENCIA_SUP_ID}</span>
						</div>
		{END searchCtrlBlock_DEPENDENCIA_SUP_ID}
																{BEGIN searchCtrlBlock_RESPONSABLE_ID}


		<div class="form-group srchPanelRow {$filterRow_class_RESPONSABLE_ID}" {$filterRow_attrs_RESPONSABLE_ID}>
			<label>{$label global_ejecucion_actividades_spi RESPONSABLE_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_RESPONSABLE_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_RESPONSABLE_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_RESPONSABLE_ID}</span>
						</div>
		{END searchCtrlBlock_RESPONSABLE_ID}
																{BEGIN searchCtrlBlock_DEPENDENCIA_ID}


		<div class="form-group srchPanelRow {$filterRow_class_DEPENDENCIA_ID}" {$filterRow_attrs_DEPENDENCIA_ID}>
			<label>{$label global_ejecucion_actividades_spi DEPENDENCIA_ID }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_DEPENDENCIA_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_DEPENDENCIA_ID}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_DEPENDENCIA_ID}</span>
						</div>
		{END searchCtrlBlock_DEPENDENCIA_ID}
																{BEGIN searchCtrlBlock_Presupuesto}


		<div class="form-group srchPanelRow {$filterRow_class_Presupuesto}" {$filterRow_attrs_Presupuesto}>
			<label>{$label global_ejecucion_actividades_spi Presupuesto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Presupuesto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Presupuesto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Presupuesto}</span>
						</div>
		{END searchCtrlBlock_Presupuesto}
																{BEGIN searchCtrlBlock_Actividad}


		<div class="form-group srchPanelRow {$filterRow_class_Actividad}" {$filterRow_attrs_Actividad}>
			<label>{$label global_ejecucion_actividades_spi Actividad }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Actividad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Actividad}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Actividad}</span>
						</div>
		{END searchCtrlBlock_Actividad}
																{BEGIN searchCtrlBlock_Producto}


		<div class="form-group srchPanelRow {$filterRow_class_Producto}" {$filterRow_attrs_Producto}>
			<label>{$label global_ejecucion_actividades_spi Producto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Producto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Producto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Producto}</span>
						</div>
		{END searchCtrlBlock_Producto}
																{BEGIN searchCtrlBlock_codigoBPINProyecto}


		<div class="form-group srchPanelRow {$filterRow_class_codigoBPINProyecto}" {$filterRow_attrs_codigoBPINProyecto}>
			<label>{$label global_ejecucion_actividades_spi codigoBPINProyecto }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_codigoBPINProyecto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_codigoBPINProyecto}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_codigoBPINProyecto}</span>
						</div>
		{END searchCtrlBlock_codigoBPINProyecto}
																{BEGIN searchCtrlBlock_Vigencia}


		<div class="form-group srchPanelRow {$filterRow_class_Vigencia}" {$filterRow_attrs_Vigencia}>
			<label>{$label global_ejecucion_actividades_spi Vigencia }</label>

							{$delCtrlButt}
			
								<span class="rnr-searchtype">{$searchtype_Vigencia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol_Vigencia}</span>
								<span class="rnr-searchcontrol">{$searchcontrol1_Vigencia}</span>
						</div>
		{END searchCtrlBlock_Vigencia}
		

	</div>

	<div class="panel-footer bottomSearchButt" {$bottomSearchButt_attrs}>
		<button class="btn btn-primary" id="searchButton{$id}" {$searchbutton_attrs}>Buscar</button>
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs}>Mostrar todo</button>
	</div>
</div>
<!-- End Search panel content -->
			</div>
		
    {END left_block}
</div>				</div>	
			<div class="r-content-col" data-resize-left="leftbar">
				<div  class="r-topheader" data-resize-name="topbar">
									{BEGIN supertop_block}
<nav class="navbar navbar-default" 
	data-location="supertop" id="form_supertop_{$pageid}" data-makeup="leftbar" {$form_supertop} data-pageid="{$pageid}" >
			 
							 
				<span class="navbar-form  navbar-header" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="collapse_button" {$item_collapse_button} data-topcell-item-type="collapse_button" >
				<span data-itemtype="collapse_button" data-itemid="collapse_button" {$item_collapse_button} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="Collapse" class="btn-link   
	 glyphicon glyphicon-triangle-left" href="#" >		
				
								</a>
</span>
			</span>
		 
				<span class="navbar-form  navbar-collapse" data-cellId="supertop_c1" data-pageid="{$pageid}" data-itemid="breadcrumb" {$item_breadcrumb} data-topcell-item-type="breadcrumb" >
				{BEGIN breadcrumb}
<ol class="breadcrumb" data-itemtype="breadcrumb" data-itemid="breadcrumb" {$item_breadcrumb} data-pageid="{$pageid}">
<li ><a href="{$crumb_home_link}"><span class="glyphicon glyphicon-home"></span></a>{$crumb_dropdown}</li>
{BEGIN crumb}
  <li class="{$crumb_item_class}">
{BEGIN crumb_title_link}
	<a {$crumb_attrs}>{$crumb_title}</a>
{END crumb_title_link}
{BEGIN crumb_title_span}
	<span {$crumb_attrs}>{$crumb_title}</span>
{END crumb_title_span}	
	{$crumb_dropdown}
  </li>
{END crumb}
</ol>
{END breadcrumb}			</span>
							 
							 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="simple_search" {$item_simple_search} data-topcell-item-type="simple_search" >
				<span data-itemtype="simple_search" data-itemid="simple_search" {$item_simple_search} data-pageid="{$pageid}" class="form-group">

<div  class="input-group">
{BEGIN searchform_text}
	<input type="search" class="form-control" {$searchfor_attrs} size="25">
{END searchform_text}
	<span class="input-group-btn">
	{BEGIN searchform_showall}
		<button class="btn btn-default" {$showAllCont_attrs} {$showallbutton_attrs} title="Mostrar todo">
			<span class="glyphicon glyphicon-remove"></span>
		</button>
	{END searchform_showall}
	{BEGIN searchform_search}
	<button {$searchbutton_attrs} class="btn btn-primary" >
		<span class="glyphicon glyphicon-search"></span>
	</button>
	{END searchform_search}
	</span>
</div>
		
</span>			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="list_options" {$item_list_options} data-topcell-item-type="list_options" >
				<span data-itemtype="list_options" data-itemid="list_options" {$item_list_options} data-pageid="{$pageid}" data-small data-button-item>
</span>
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="loginform_login" {$item_loginform_login} data-topcell-item-type="loginform_login" >
				{BEGIN guestloginbutton}
<span data-itemtype="loginform_login" data-itemid="loginform_login" {$item_loginform_login} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" href="#" {$guestloginlink_attrs} >
							Conectar			</a>
</span>
{END guestloginbutton}
			</span>
		 
				<span class="navbar-form r-align-right navbar-collapse" data-cellId="supertop_c2" data-pageid="{$pageid}" data-itemid="username_button" {$item_username_button} data-topcell-item-type="username_button" >
				{BEGIN loggedas_message}
<span data-itemtype="username_button" data-itemid="username_button" {$item_username_button} data-pageid="{$pageid}" data-small data-button-item>
	<span class="dropdown ">
		<button type="button" title="" class="btn btn-default   dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">		
							<span class="glyphicon glyphicon-user"></span>
						{$username}			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu">
							{BEGIN logoutbutton}
	<li data-itemtype="logout_link" data-itemid="logout_link" {$item_logout_link} data-pageid="{$pageid}" data-small >
				<a  href="#" {$logoutlink_attrs}  title="" >
				
		Desconectarse		
		</a>
	</li>
{END logoutbutton}
							{BEGIN adminarea_link}
	<li data-itemtype="adminarea_link" data-itemid="adminarea_link" {$item_adminarea_link} data-pageid="{$pageid}" data-small >
				<a  href="admin_rights_list.php"  title="" >
				
		Area Admin		
		</a>
	</li>
{END adminarea_link}
					</ul>
	</span>
</span>
{END loggedas_message}
			</span>
								</nav>
{END supertop_block}
						{$locking}
				</div>	
				<div class="r-body" data-resize-top="topbar" data-body-width="standard">
					{$header}
					<div class="r-top">
									{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="leftbar" {$form_top} data-pageid="{$pageid}" >		
	</div>		
{END top_block}
						</div>
					<div class="r-above">
										{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="leftbar" {$form_above-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-6
	
">
		{BEGIN firstAboveGridCell}
				{END firstAboveGridCell}	
	</div>			 
				<div 
	data-cellId="above-grid_c2" data-pageid="{$pageid}"	{$cell_above-grid_c2}
	class="r-align-right			col-md-6
	
">
		 
		<span data-itemtype="details_found" data-itemid="details_found" {$item_details_found} data-pageid="{$pageid}" data-small >
{$details_found_labeldetails_found}
</span>	 
		<span data-itemtype="page_size" data-itemid="page_size" {$item_page_size} data-pageid="{$pageid}" >
		{$recsPerPage}
</span>		</div>					</div>
	</div>		
{END above-grid_block}
						</div>
					<div class="r-grid">
										{BEGIN grid_block}
{BEGIN grid_tabs}
  <ul class="nav nav-tabs bsgrid_tabs">
	{$grid_tabs_content}
  </ul>
{END grid_tabs}
{BEGIN message_block}
<div data-grid-message data-pageid="{$pageid}" class="alert {$message_class}" role="alert" {$grid_message_attrs}>{$message}</div>
{END message_block}	<style>
@media screen and (max-width: 767px) {
		[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Id"]:before {
		content: "{$label global_ejecucion_actividades_spi Id}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Vigencia"]:before {
		content: "{$label global_ejecucion_actividades_spi Vigencia}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="codigoBPINProyecto"]:before {
		content: "{$label global_ejecucion_actividades_spi codigoBPINProyecto}";
	}
				[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Actividad"]:before {
		content: "{$label global_ejecucion_actividades_spi Actividad}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="Presupuesto"]:before {
		content: "{$label global_ejecucion_actividades_spi Presupuesto}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="DEPENDENCIA_ID"]:before {
		content: "{$label global_ejecucion_actividades_spi DEPENDENCIA_ID}";
	}
			[data-pageid="{$pageid}"][data-itemtype="grid_field"][data-field="RESPONSABLE_ID"]:before {
		content: "{$label global_ejecucion_actividades_spi RESPONSABLE_ID}";
	}
		}
</style>
<table data-location="grid" id="form_grid_{$pageid}" data-makeup="leftbar" {$form_grid} data-pageid="{$pageid}" class=" table {$grid_classes}  r-flexgrid rnr-b-grid rnr-gridtable" 
	cellpadding="0" 
	data-body-height="1"
>
						<thead>
			{BEGIN grid_header}
					
		 
						<tr {$rowattrs} {$row_grid_0} class="{$rowclass} 
									{$gridHeader_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_headcell_field}
	<th
	
	{$cell_grid_headcell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Id_class}
			"

			data-field="Id"
	
	data-cellId="grid_headcell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_fieldheadercolumn}
	{BEGIN Id_fieldheader}
	<SPAN {$Id_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field5" {$item_simple_grid_field5} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id">
	{$label global_ejecucion_actividades_spi Id }	{$arrow_icon_Id}
	</SPAN>
	{END Id_fieldheader}
{END Id_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field}
				 
					{BEGIN cellblock_grid_headcell_field1}
	<th
	
	{$cell_grid_headcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Vigencia_class}
			"

			data-field="Vigencia"
	
	data-cellId="grid_headcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Vigencia_fieldheadercolumn}
	{BEGIN Vigencia_fieldheader}
	<SPAN {$Vigencia_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field7" {$item_simple_grid_field7} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Vigencia">
	{$label global_ejecucion_actividades_spi Vigencia }	{$arrow_icon_Vigencia}
	</SPAN>
	{END Vigencia_fieldheader}
{END Vigencia_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field1}
				 
					{BEGIN cellblock_grid_headcell_field2}
	<th
	
	{$cell_grid_headcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$codigoBPINProyecto_class}
			"

			data-field="codigoBPINProyecto"
	
	data-cellId="grid_headcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN codigoBPINProyecto_fieldheadercolumn}
	{BEGIN codigoBPINProyecto_fieldheader}
	<SPAN {$codigoBPINProyecto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field8" {$item_simple_grid_field8} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="codigoBPINProyecto">
	{$label global_ejecucion_actividades_spi codigoBPINProyecto }	{$arrow_icon_codigoBPINProyecto}
	</SPAN>
	{END codigoBPINProyecto_fieldheader}
{END codigoBPINProyecto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field2}
				 
					{BEGIN cellblock_grid_headcell_field3}
	<th
	
	{$cell_grid_headcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Actividad_class}
			"

			data-field="Actividad"
	
	data-cellId="grid_headcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Actividad_fieldheadercolumn}
	{BEGIN Actividad_fieldheader}
	<SPAN {$Actividad_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field13" {$item_simple_grid_field13} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Actividad">
	{$label global_ejecucion_actividades_spi Actividad }	{$arrow_icon_Actividad}
	</SPAN>
	{END Actividad_fieldheader}
{END Actividad_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field3}
				 
					{BEGIN cellblock_grid_headcell_field4}
	<th
	
	{$cell_grid_headcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DEPENDENCIA_ID_class}
			"

			data-field="DEPENDENCIA_ID"
	
	data-cellId="grid_headcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DEPENDENCIA_ID_fieldheadercolumn}
	{BEGIN DEPENDENCIA_ID_fieldheader}
	<SPAN {$DEPENDENCIA_ID_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field9" {$item_simple_grid_field9} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DEPENDENCIA_ID">
	{$label global_ejecucion_actividades_spi DEPENDENCIA_ID }	{$arrow_icon_DEPENDENCIA_ID}
	</SPAN>
	{END DEPENDENCIA_ID_fieldheader}
{END DEPENDENCIA_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field4}
				 
					{BEGIN cellblock_grid_headcell_field5}
	<th
	
	{$cell_grid_headcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Presupuesto_class}
			"

			data-field="Presupuesto"
	
	data-cellId="grid_headcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Presupuesto_fieldheadercolumn}
	{BEGIN Presupuesto_fieldheader}
	<SPAN {$Presupuesto_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field10" {$item_simple_grid_field10} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Presupuesto">
	{$label global_ejecucion_actividades_spi Presupuesto }	{$arrow_icon_Presupuesto}
	</SPAN>
	{END Presupuesto_fieldheader}
{END Presupuesto_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field5}
				 
					{BEGIN cellblock_grid_headcell_field6}
	<th
	
	{$cell_grid_headcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$RESPONSABLE_ID_class}
			"

			data-field="RESPONSABLE_ID"
	
	data-cellId="grid_headcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN RESPONSABLE_ID_fieldheadercolumn}
	{BEGIN RESPONSABLE_ID_fieldheader}
	<SPAN {$RESPONSABLE_ID_orderlinkattrs} data-itemtype="grid_field_label" data-itemid="simple_grid_field11" {$item_simple_grid_field11} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="RESPONSABLE_ID">
	{$label global_ejecucion_actividades_spi RESPONSABLE_ID }	{$arrow_icon_RESPONSABLE_ID}
	</SPAN>
	{END RESPONSABLE_ID_fieldheader}
{END RESPONSABLE_ID_fieldheadercolumn}

	
	</th>
	{END cellblock_grid_headcell_field6}
							</tr>
					 
					 
					
					{END grid_header}
			</thead>
															<tbody>
					{BEGIN grid_row}
									
		 
					 
						<tr {$rowattrs} {$row_grid_1} class="{$rowclass} 
								
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_cell_field}
	<td
	
	{$cell_grid_cell_field}
	{$recordattrs}
	class="
		 r-ori-vert				{$Id_class}
			"

			data-field="Id"
	
	data-cellId="grid_cell_field" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Id_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field" {$item_simple_grid_field} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Id" data-default-width >
{$Id_value}
</span>
{END Id_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field}
				 
					{BEGIN cellblock_grid_cell_field1}
	<td
	
	{$cell_grid_cell_field1}
	{$recordattrs}
	class="
		 r-ori-vert				{$Vigencia_class}
			"

			data-field="Vigencia"
	
	data-cellId="grid_cell_field1" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Vigencia_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field1" {$item_simple_grid_field1} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Vigencia" data-default-width >
{$Vigencia_value}
</span>
{END Vigencia_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field1}
				 
					{BEGIN cellblock_grid_cell_field2}
	<td
	
	{$cell_grid_cell_field2}
	{$recordattrs}
	class="
		 r-ori-vert				{$codigoBPINProyecto_class}
			"

			data-field="codigoBPINProyecto"
	
	data-cellId="grid_cell_field2" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN codigoBPINProyecto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field6" {$item_simple_grid_field6} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="codigoBPINProyecto" data-default-width >
{$codigoBPINProyecto_value}
</span>
{END codigoBPINProyecto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field2}
				 
					{BEGIN cellblock_grid_cell_field3}
	<td
	
	{$cell_grid_cell_field3}
	{$recordattrs}
	class="
		 r-ori-vert				{$Actividad_class}
			"

			data-field="Actividad"
	
	data-cellId="grid_cell_field3" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Actividad_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field12" {$item_simple_grid_field12} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Actividad" data-default-width >
{$Actividad_value}
</span>
{END Actividad_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field3}
				 
					{BEGIN cellblock_grid_cell_field4}
	<td
	
	{$cell_grid_cell_field4}
	{$recordattrs}
	class="
		 r-ori-vert				{$DEPENDENCIA_ID_class}
			"

			data-field="DEPENDENCIA_ID"
	
	data-cellId="grid_cell_field4" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN DEPENDENCIA_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field2" {$item_simple_grid_field2} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="DEPENDENCIA_ID" data-default-width >
{$DEPENDENCIA_ID_value}
</span>
{END DEPENDENCIA_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field4}
				 
					{BEGIN cellblock_grid_cell_field5}
	<td
	
	{$cell_grid_cell_field5}
	{$recordattrs}
	class="
		 r-ori-vert				{$Presupuesto_class}
			"

			data-field="Presupuesto"
	
	data-cellId="grid_cell_field5" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN Presupuesto_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field3" {$item_simple_grid_field3} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="Presupuesto" data-default-width >
{$Presupuesto_value}
</span>
{END Presupuesto_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field5}
				 
					{BEGIN cellblock_grid_cell_field6}
	<td
	
	{$cell_grid_cell_field6}
	{$recordattrs}
	class="
		 r-ori-vert				{$RESPONSABLE_ID_class}
			"

			data-field="RESPONSABLE_ID"
	
	data-cellId="grid_cell_field6" data-pageid="{$pageid}" data-record-id="{$recId}"	
	>

	 
		{BEGIN RESPONSABLE_ID_fieldcolumn}
<span data-itemtype="grid_field" data-itemid="simple_grid_field4" {$item_simple_grid_field4} data-pageid="{$pageid}" data-record-id="{$recId}" data-field="RESPONSABLE_ID" data-default-width >
{$RESPONSABLE_ID_value}
</span>
{END RESPONSABLE_ID_fieldcolumn}	
	</td>
	{END cellblock_grid_cell_field6}
							</tr>
					 
					
											{END grid_row}
					</tbody>
													<tfoot>
					
		 
					 
					 
						<tr {$rowattrs} {$row_grid_2} class="{$rowclass} 
									{$gridFooter_class}
									
								r-gridrow
							">
				 
					{BEGIN cellblock_grid_footcell_field}
	<td
	
	{$cell_grid_footcell_field}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field}
				 
					{BEGIN cellblock_grid_footcell_field1}
	<td
	
	{$cell_grid_footcell_field1}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field1" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field1}
				 
					{BEGIN cellblock_grid_footcell_field2}
	<td
	
	{$cell_grid_footcell_field2}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field2" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field2}
				 
					{BEGIN cellblock_grid_footcell_field3}
	<td
	
	{$cell_grid_footcell_field3}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field3" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field3}
				 
					{BEGIN cellblock_grid_footcell_field4}
	<td
	
	{$cell_grid_footcell_field4}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field4" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field4}
				 
					{BEGIN cellblock_grid_footcell_field5}
	<td
	
	{$cell_grid_footcell_field5}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field5" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field5}
				 
					{BEGIN cellblock_grid_footcell_field6}
	<td
	
	{$cell_grid_footcell_field6}
	{$recordattrs}
	class="
		 r-ori-vert			"

	
	data-cellId="grid_footcell_field6" data-pageid="{$pageid}" data-record-id="{$recId}" data-page="global_ejecucion_actividades_spi_list"	
	>

	
	</td>
	{END cellblock_grid_footcell_field6}
							</tr>
					
					</tfoot>
				</table>
{END grid_block}
						</div>
					<div class="r-below">
										{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="leftbar" {$form_below-grid} data-pageid="{$pageid}" >		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="r-align-center r-ori-vert			col-md-12
	
">
		 
		{BEGIN pagination_block}
<span data-itemtype="pagination" data-itemid="pagination" {$item_pagination} data-pageid="{$pageid}" >
{$pagination}
</span>
{END pagination_block}
		</div>					</div>
	</div>		
{END below-grid_block}
						</div>
					{$footer}
				</div>	
			</div>	
		</div>
	{END body}
	</body>
</html>
