<!doctype html>
<html  {$html_attrs}>
	<head>
				<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$pagetitle}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<base href="{$projectPath}">
		<link REL="stylesheet" href="styles/default.css?{$wizardBuildKey}" type="text/css">
	{BEGIN rtlCSS}
	<link REL="stylesheet" href="styles/defaultRTL.css?{$wizardBuildKey}" type="text/css">
	{END rtlCSS}
	{BEGIN styleCSSFiles}
	<link REL="stylesheet" href="{$stylepath}" type="text/css">
	{END styleCSSFiles}
	</head>

	<body class="{$stylename} function-add" {$bodyattrs}>
	{BEGIN body}
		{$header}
		<style>
			{$containerCss}
		</style>
		{$locking}
		<div class="r-small-page" 
			data-body-align="center"
			data-body-width="standard"
		>
							{BEGIN top_block}
<div class="r-form" data-location="top" id="form_top_{$pageid}" data-makeup="small" {$form_top} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="top_c1" data-pageid="{$pageid}"	{$cell_top_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		<h2 data-itemtype="add_header" data-itemid="add_header" {$item_add_header} data-pageid="{$pageid}" >{$pagetitlelabel paa_master_modifica_q add}</h2>
	</div>					</div>
	</div>		
{END top_block}
									{BEGIN above-grid_block}
<div class="r-form" data-location="above-grid" id="form_above-grid_{$pageid}" data-makeup="small" {$form_above-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="above-grid_c1" data-pageid="{$pageid}"	{$cell_above-grid_c1}
	class=" r-ori-vert			col-md-12
	">
	 
		{BEGIN message_block}
<div data-itemtype="add_message" data-itemid="add_message" {$item_add_message} data-pageid="{$pageid}" class="alert {$message_class}" role="alert">
<h5>{$message}</h5>
<div>
{BEGIN back_button}
		
	<button class="btn btn-sm btn-default" {$backbutton_attrs}>Volver a la lista</button>
	{END back_button}
{BEGIN view_page_button}
	<button class="btn btn-sm btn-default" {$view_page_button_attrs}>Ver</button>
{END view_page_button}
{BEGIN edit_page_button}
	<button class="btn btn-sm btn-default" {$edit_page_button_attrs}>Editar</button>
{END edit_page_button}
</div>
</div>
{END message_block}	</div>					</div>
	</div>		
{END above-grid_block}
									{BEGIN grid_block}




 
	 
												<table 
	data-body-align="center"
	data-location="grid" id="form_grid_{$pageid}" data-makeup="small" {$form_grid} data-pageid="{$pageid}" 
	class="r-edit-form" cellpadding="0" cellspacing="0" 
	{$grid_hiddenattr} 
		data-form-width="2"
		
		data-v-width="4"
	>
	<tbody>
										<tr>
										

{BEGIN cellblock_grid_c4}
<td
	{$cell_grid_c4}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c4" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PAA_ID_FK_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAA_ID_FK}  r-vertical-field" 
	data-fieldname="PAA_ID_FK" 
	data-signal-error-for="PAA_ID_FK{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field" {$item_integrated_edit_field} data-pageid="{$pageid}" data-field="PAA_ID_FK" >


	<label class="r-edit-label control-label" for="{$labelfor_PAA_ID_FK}">
		{BEGIN PAA_ID_FK_label}{$label paa_master_modifica_q PAA_ID_FK }{END PAA_ID_FK_label}
	</label>
	<div class="r-edit-field">
		{$PAA_ID_FK_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PAA_ID_FK">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q PAA_ID_FK }		</div>
	</div>
</div>


{END PAA_ID_FK_fieldblock}
	
								</td>
			{END cellblock_grid_c4}
			 
																

{BEGIN cellblock_grid_c5}
<td
	{$cell_grid_c5}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c5" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PAAM_FECHA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAAM_FECHA}  r-vertical-field" 
	data-fieldname="PAAM_FECHA" 
	data-signal-error-for="PAAM_FECHA{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field1" {$item_integrated_edit_field1} data-pageid="{$pageid}" data-field="PAAM_FECHA" >


	<label class="r-edit-label control-label" for="{$labelfor_PAAM_FECHA}">
		{BEGIN PAAM_FECHA_label}{$label paa_master_modifica_q PAAM_FECHA }{END PAAM_FECHA_label}
	</label>
	<div class="r-edit-field">
		{$PAAM_FECHA_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PAAM_FECHA">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q PAAM_FECHA }		</div>
	</div>
</div>


{END PAAM_FECHA_fieldblock}
	
								</td>
			{END cellblock_grid_c5}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c7}
<td
	{$cell_grid_c7}
	class=" r-ori-vert"
	
			data-single
			
	ocolspan="2"		data-cellId="grid_c7" data-pageid="{$pageid}"
		data-v-cell="4"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PAA_MODIFICA_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAA_MODIFICA}  r-vertical-field" 
	data-fieldname="PAA_MODIFICA" 
	data-signal-error-for="PAA_MODIFICA{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field2" {$item_integrated_edit_field2} data-pageid="{$pageid}" data-field="PAA_MODIFICA" >


	<label class="r-edit-label control-label" for="{$labelfor_PAA_MODIFICA}">
		{BEGIN PAA_MODIFICA_label}{$label paa_master_modifica_q PAA_MODIFICA }{END PAA_MODIFICA_label}
	</label>
	<div class="r-edit-field">
		{$PAA_MODIFICA_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PAA_MODIFICA">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q PAA_MODIFICA }		</div>
	</div>
</div>


{END PAA_MODIFICA_fieldblock}
	
								</td>
			{END cellblock_grid_c7}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c8}
<td
	{$cell_grid_c8}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c8" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN MAIL_NOT_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_MAIL_NOT}  r-vertical-field" 
	data-fieldname="MAIL_NOT" 
	data-signal-error-for="MAIL_NOT{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field4" {$item_integrated_edit_field4} data-pageid="{$pageid}" data-field="MAIL_NOT" >


	<label class="r-edit-label control-label" for="{$labelfor_MAIL_NOT}">
		{BEGIN MAIL_NOT_label}{$label paa_master_modifica_q MAIL_NOT }{END MAIL_NOT_label}
	</label>
	<div class="r-edit-field">
		{$MAIL_NOT_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="MAIL_NOT">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q MAIL_NOT }		</div>
	</div>
</div>


{END MAIL_NOT_fieldblock}
	
								</td>
			{END cellblock_grid_c8}
			 
																

{BEGIN cellblock_grid_c9}
<td
	{$cell_grid_c9}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c9" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN SYSUSER_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_SYSUSER}  r-vertical-field" 
	data-fieldname="SYSUSER" 
	data-signal-error-for="SYSUSER{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field3" {$item_integrated_edit_field3} data-pageid="{$pageid}" data-field="SYSUSER" >


	<label class="r-edit-label control-label" for="{$labelfor_SYSUSER}">
		{BEGIN SYSUSER_label}{$label paa_master_modifica_q SYSUSER }{END SYSUSER_label}
	</label>
	<div class="r-edit-field">
		{$SYSUSER_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="SYSUSER">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q SYSUSER }		</div>
	</div>
</div>


{END SYSUSER_fieldblock}
	
								</td>
			{END cellblock_grid_c9}
								</tr>
	 
	 
														<tr>
										

{BEGIN cellblock_grid_c3}
<td
	{$cell_grid_c3}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c3" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
				
{BEGIN PAAM_ST_fieldblock}


<div class="r-integrated-field form-group clearfix {$fielddispclass_PAAM_ST}  r-vertical-field" 
	data-fieldname="PAAM_ST" 
	data-signal-error-for="PAAM_ST{$id}" 
	data-itemtype="integrated_edit_field" data-itemid="integrated_edit_field5" {$item_integrated_edit_field5} data-pageid="{$pageid}" data-field="PAAM_ST" >


	<label class="r-edit-label control-label" for="{$labelfor_PAAM_ST}">
		{BEGIN PAAM_ST_label}{$label paa_master_modifica_q PAAM_ST }{END PAAM_ST_label}
	</label>
	<div class="r-edit-field">
		{$PAAM_ST_editcontrol}	</div>
	<div class="r-edit-tooltip" data-helpfor="PAAM_ST">
		<div class="text-muted" >
		{$tooltip paa_master_modifica_q PAAM_ST }		</div>
	</div>
</div>


{END PAAM_ST_fieldblock}
	
								</td>
			{END cellblock_grid_c3}
			 
		
							

{BEGIN cellblock_grid_c}
<td
	{$cell_grid_c}
	class=" r-ori-vert"
	
			data-single
			
			data-cellId="grid_c" data-pageid="{$pageid}"
		data-v-cell="2"
		
>
	<div edit-form-cell class="clearfix">
									</td>
			{END cellblock_grid_c}
								</tr>
			</tbody></table>
{END grid_block}
									{BEGIN below-grid_block}
<div class="r-form" data-location="below-grid" id="form_below-grid_{$pageid}" data-makeup="small" {$form_below-grid} data-pageid="{$pageid}"
		data-v-width="4"
	data-v-margin="0"
	
>		
	 
		<div class="row">
			 
				<div 
	data-cellId="below-grid_c1" data-pageid="{$pageid}"	{$cell_below-grid_c1}
	class="			col-md-12
	">
	 
		<span data-itemtype="add_save" data-itemid="add_save" {$item_add_save} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-primary   
	" {$savebutton_attrs} >
							Guardar			</a>
</span>
	 
		{BEGIN back_button}
<span data-itemtype="add_back_list" data-itemid="add_back_list" {$item_add_back_list} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="backButton{$id}" >
							Volver a la lista			</a>
</span>
{END back_button}
	 
		{BEGIN cancel_button}
<span data-itemtype="add_cancel" data-itemid="add_cancel" {$item_add_cancel} data-pageid="{$pageid}" data-small data-button-item>
	<a type="button" title="" class="btn btn-default   
	" id="cancelButton{$id}" >
							Cancelar			</a>
</span>
{END cancel_button}
	</div>					</div>
	</div>		
{END below-grid_block}
			</div>
		{$footer}
	{END body}
	</body>
</html>
